/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .custom-author-url {
   background-color: #ffffff40;
   padding: 0 1rem;
   border: 1px solid #d8d8d8;
 }
 
 #redirect_url {
   min-width: 250px;
 }
